.maintenance-status {
  .header-action-btn {
    background: transparent;
    border: none;
    color: white !important;
  }

  .header-action-btn:hover {
    color: #535e77 !important;
  }

  .header-action-btn:hover i {
    background: transparent;
    color: #535e77 !important;
  }

  .header-action-btn-active {
    background: #535e77;
    border: 1px solid #535e77;
  }
}

.fleet-grid-view-title {
  flex: none;
  color: white;
  font-size: 20px;
}

.fleet-grid-view-line {
  border: 1px solid #fff;
  width: 100%;
}

.fleet-grid-action-button {
  color: white;
  cursor: pointer;
}

.fleet-grid-action-button i {
  color: white;
  font-size: 20px;
}

body[data-layout-mode="light"] {
  .vehicle-name {
    color: var(--dark-text-color) !important;
  }

  .fleet-card-sync-label {
    color: #656565 !important;
  }

  .fleet-label {
    color: #656565 !important;
  }

  .fleet-value {
    color: var(--dark-text-color) !important;
  }

  .fleet-card {
    background-color: white;
  }

  .fleet-grid-view-title {
    color: var(--dark-text-color);
  }

  .fleet-grid-view-line {
    border: 1px solid var(--dark-text-color);
    width: 100%;
  }

  .fleet-grid-action-button {
    color: var(--dark-text-color) !important;
  }

  .fleet-grid-action-button i {
    color: var(--dark-text-color);
  }
}

.sync {
  display: flex;
  align-items: center;
  gap: 8px;

  i {
    color: #389e0d;
    font-size: 16px;
  }

  .sync-label {
    font-size: 16px;
    line-height: 24px;
  }
}
.maintenance-status-segment {
  &.ant-segmented {
    background: var(--bg-color);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0;
    label {
      .ant-segmented-item-label {
        min-height: 30px;
        line-height: 30px;
        padding: 0 16px;
        font-weight: 700;
        color: #fff;
      }
      &.ant-segmented-item-selected {
        .ant-segmented-item-label {
          color: var(--bg-color);
        }
      }
    }
  }
}
