.descrepencies-wrapper {
  background-color: transparent;
}

.descrepencies-wrapper .card-body {
  padding: 0;
}

.descrepencies-wrapper .card-body .report-head {
  background-color: var(--bg-color);
  border-radius: 8px;
}

.descrepencies-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* .descrepencies-wrapper th,
  .descrepencies-wrapper td {
    padding: 10px;
    border: 1px solid #ccc;
  } */
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .descrepencies-wrapper ::-webkit-scrollbar {
    height: 8px;
  }

  .descrepencies-wrapper ::-webkit-scrollbar-track {
    /* background-color: #535E77; */
    border-radius: 20px;
  }

  .descrepencies-wrapper ::-webkit-scrollbar-thumb {
    background-color: #fff;
  }

  .descrepencies-wrapper .table-responsive {
    margin-bottom: 24px;
  }
  
  .descrepencies-wrapper thead th {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    vertical-align: bottom;
    min-width: 128px;
    color: #9CA3B1 !important;
    text-align: center;
    background-color: transparent;
    /* border-bottom: 1px solid #535E77; */
  }

  .descrepencies-wrapper thead th:first-child {
    vertical-align: middle;
  }

  .descrepencies-wrapper thead th:last-child {
    padding: 10px 14px;
  }

  .descrepencies-wrapper tbody td button {
     color: #9CA3B1;
  }

  .descrepencies-wrapper .paginate_button .page-link {
    color: #BCC1CA;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 3px !important;
  }

  .descrepencies-wrapper .paginate_button.previous .page-link,
  .descrepencies-wrapper .paginate_button.next .page-link {
    font-size: 22px;
  }

  .descrepencies-wrapper .paginate_button.active .page-link,
  .descrepencies-wrapper .paginate_button .page-link:hover {
    background-color: #535E77;
  }

  .descrepencies-wrapper .pagination-to-move select,
  .descrepencies-wrapper .pagination-to-move button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #535E77;
    padding: 2px 8px;
    font-size: 14px;
  }

  .descrepencies-wrapper .pagination-to-move select option {
    background-color: #535E77
  }

  .descrepencies-wrapper .report-heading {
    font-size: 24px;
    color: #fff;
  }

  .descrepencies-wrapper .export-csv button {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-weight: 700;
    background-color: #fff;
    color: var(--bg-color) ;
    font-size: 14px;
  }

  .descrepencies-wrapper input.search-box {
    padding-left: 38px;
    border: 1px solid #BCC1CA;
    border-radius: 3px;
    background-color: transparent;
    color: #BCC1CA !important;
  }

  .descrepencies-wrapper input.search-box::placeholder {
    color: #BCC1CA;
  }

  .descrepencies-wrapper input.search-box + svg {
    position: absolute;
    left: 12px;
    top: 10px;
  }

  body[data-layout-mode="light"] .descrepencies-wrapper .search-dropdown,
  body[data-layout-mode="light"] .descrepencies-wrapper .search-dropdown:hover,
  body[data-layout-mode="light"] .descrepencies-wrapper .search-dropdown:hover .ant-btn-icon i {
    color: #fff !important;
    font-size: 14px; 
  }

  /* .descrepencies-wrapper table tr td {
    background-color: rgb(28 38 60 / 75%)
  } */

  .descrepencies-wrapper table tr.desc-child td {
    background-color: var(--bg-color);
  }

  .carryback-report tfoot tr td span {
    display: block;
    padding: 8px 12px;
    border: 1px solid #828282;
    border-radius: 3px;
    text-align: right;
    max-width: 78px;
    margin: auto;
  }

  .carryback-report tfoot tr td:first-child span {
    border: none;
  }

  .carryback-report tbody tr td,
  .carryback-report tfoot tr td {
    text-align: center;
    border: none;
  }

  body[data-layout-mode="dark"] .carryback-report tfoot tr td span {
    border-color: #BCC1CA;
  }

  body[data-layout-mode="dark"] .descrepencies-wrapper .paginate_button .page-link {
    color: #fff;
  }