#auto-routing-category > div, #auto-routing-category > div > button{
    width: 100%;
}
.route-item.dark-mode{
    color: white;
    border-bottom: 1px dashed #787878;
    cursor: pointer;
}
.route-item.dark-mode > i {
    right: 25px;
    font-size: 20px;
    position: absolute;
}
.route-item.dark-mode:hover {
    background-color: #212529;
}

.route-item.light-mode{
    color: white;
    border-bottom: 1px dashed #787878;
    cursor: pointer;
}
.route-item.light-mode > i {
    right: 25px;
    font-size: 20px;
    position: absolute;
}
.route-item.light-mode:hover {
    background-color: #e2e2e2 !important;
}
.my-stopsign-point-group{
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 198px;
}

.my-custom-ctrl-group {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 241px !important;
}

.my-custom-ctrl-group {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 198px;
  }
  
  .my-bounding-box-group {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 20px;
  }
  
  .my-custom-point-group {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 60px;
  }
  
  .mapboxgl-ctrl>button {
    width: 32px !important;
    height: 32px !important;
  }

  /* Tooltip container */
.truck-tooltip {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.marker-tooltip{
    cursor: pointer;
}
  
/* Tooltip text */
.truck-tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: #33333380;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px 0;
    position: relative;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
    
    /* Add arrow */
    pointer-events: none;
}

.haul-road-optimization .tooltiptext {
    width: 200px;
}

.truck-tooltip .tooltiptext span {
    color: gold;
}
  
.truck-tooltip .tooltiptext::after {
    /* content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #33333380 transparent transparent transparent; */
}

