@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.fuel-scheduler-card {
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  overflow: hidden;
  height: fit-content;
}

.fuel-card-header {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 15px;
  padding-right: 0;
}

.vehicle-name {
  display: block;
  font-size: 1.7em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.fuel-card-status {
  align-self: flex-start;
  padding: 2px 15px;
  margin-right: 0;
  color: #ffffff;
  border-radius: 20px 0 0 20px;
  font-weight: bold;
  font-size: 12px;
}

.fuel-card-sync {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.fuel-card-sync-icon {
  display: flex;
  align-items: center;
}

.fuel-card-sync-tooltip {
  position: absolute;
  top: -10px;
  right: 80%;
  background-color: var(--dark-text-color);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.fuel-card-details {
  padding: 20px;
  gap: 10px;
}

.fuel-card-details p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.fuel-label {
  font-weight: normal;
  color: #9ca3b1;
}

.fuel-value {
  font-weight: bold;
  color: "#FFFFFF" !important;
  font-size: "16px" !important;
}

.fuel-card-props {
  margin-bottom: 10px !important;
}

.fuel-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  gap: 25px;
}

.fuel-scheduler-card {
  flex: 1 1 calc(24% - 10px);
  max-width: calc(24% - 10px);
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  overflow: hidden;
  /* margin-bottom: 20px;  */
}

.fuel-schedular-calendar {
  height: calc(100vh - 260px);
  overflow: auto;
}

.fuel-card-footer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.fuel-schedular-calendar .fuel-card-footer {
  min-height: 70px;
  max-height: 100px;
}

.fuel-schedular-calendar .event-status::before {
  left: 92%;
}

.fuel-truck-chip {
  font-size: 12px;
  font-weight: 600;
  padding: 2px 20px;
  background-color: #34c759;
  border-radius: 99px;
}

@media screen and (max-width: 1200px) {
  .fuel-scheduler-card {
    flex: 1 1 calc(48% - 10px);
    max-width: calc(48% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .fuel-scheduler-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
