.digging-optimisation {
  .digging-csv-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-weight: 700;
    background-color: #fff;
    color: var(--bg-color);
    font-size: 14px;
    padding: 20px;
  }
  .digging-optimisation-search {
    padding: 9px;
    border: 1px solid #bcc1ca;
    border-radius: 3px;
    background-color: transparent;
    color: #bcc1ca !important;

    input::placeholder {
      color: #bcc1ca;
    }
  }

  .digging-optimisation-tabs {
    &.ant-tabs {
      .ant-tabs-nav {
        .ant-tabs-tab {
          padding: 12px 8px;
          .ant-tabs-tab-btn {
            color: #535e77;
            font-size: 14px;
          }
          &.ant-tabs-tab-active {
            .ant-tabs-tab-btn {
              color: #fff;
            }
          }
          + .ant-tabs-tab {
            margin: 0 0 0 16px;
          }
        }
        .ant-tabs-ink-bar {
          background: #fff;
        }
        &::before {
          border-bottom: 1px solid transparent;
        }
      }
    }
  }

  .shift-segment {
    &.ant-segmented {
      background: var(--bg-color);
      border: 1px solid #ffffff;
      border-radius: 5px;
      padding: 0;
      label {
        .ant-segmented-item-label {
          min-height: 40px;
          line-height: 40px;
          padding: 0 16px;
          font-weight: 700;
          color: #fff;
        }
        &.ant-segmented-item-selected {
          .ant-segmented-item-label {
            color: var(--bg-color);
          }
        }
      }
    }
  }
  table {
    tbody {
      tr {
        background: transparent;
      }
    }
  }

  .visual-legend-container {
    display: flex;
    align-items: baseline;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
  }
  .legend-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .visual-legend {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  .digging-optimisation-map {
    border-radius: 16px;
    height: 65vh;
    width: 100%;
    margin-top: 10px;
  }

  div.divider{
    width: 100%;
    height: 1px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    background-color: grey;
  }

  .clustered-marker-popup{
    max-height: 300px;
    overflow-y: auto;
  }
}

body[data-layout-mode="light"] {
  .digging-optimisation {
    .search-dropdown {
      color: #fff !important;
      font-size: 14px;
      &:hover {
        color: #fff !important;
        font-size: 14px;
        .ant-btn-icon {
          i {
            color: #fff !important;
            font-size: 14px;
          }
        }
      }
    }
  }
}
