.time-slider-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: calc(100% - 24px) !important;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
body[data-layout-mode="dark"] .time-slider-container{
    background-color: #2A2A2A;
}
body[data-layout-mode="light"] .time-slider-container{
    background-color: white;
}

.speed-indicator {
    margin: 0 20px 0 10px;
    width: 80px;
    font-weight: bold;
}

.time-value {
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
}

.ant-slider {
    flex-grow: 1;
    margin: 0 15px;
}

.ant-slider-mark-text {
    font-size: 12px;
}
.ant-select-arrow{
    color: white !important;
}
.ant-slider-rail{
    background-color: rgb(107 107 107) !important;
}
.ant-slider-track{
    background-color: #FFFFFF !important;
}
body[data-layout-mode="dark"] .ant-slider-mark-text{
    color: white !important;
}
body[data-layout-mode="light"] .ant-slider-mark-text{
    color: grey !important;
}
:where(.css-dev-only-do-not-override-2mb38x).ant-btn.ant-btn-icon-only .anticon{
    font-size: 22px !important;
}

:where(.css-dev-only-do-not-override-2mb38x).ant-btn.ant-btn-icon-only .anticon {
    font-size: 18px !important; 
}

.time-slider-container button {
    margin: 0 5px; 
}


