@import "../../assets/scss/app.scss";

body[data-layout-mode="dark"] {
  .itemActual {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
  }

  .itemPlanned {
    font-size: 24px;
    color: #b3b3b3;
    margin-top: 4px;
  }
}

body[data-layout-mode="light"] {
  .itemActual {
    font-size: 28px;
    color: var(--bg-color);
    font-weight: 500;
  }

  .itemPlanned {
    font-size: 24px;
    color: #4c4c4c;
    margin-top: 4px;
  }
}

.fleet-cards-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0 auto;
  gap: 25px;
}

.fleet-card {
  flex: 1 1 calc(24% - 10px);
  max-width: calc(24% - 10px);
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 20px;
}

.pre-shift {
  .card-body {
    color: #828282;
    box-shadow: 0px 1px 4px 0px #0c0c0d1a;
  }

  .card-body__header {
    h6 {
      font-size: 14px;
      color: #828282;
    }
  }

  .shift-value {
    font-size: 12px;
    color: #828282;
    background: #e0e0e0;
    padding: 3px 8px;
    border-radius: 50px;
    text-align: center;

    &.empty {
      background: var(--bg-color);
      color: #ffffff;
    }

    &.fill {
      background: var(--bg-color);
      color: #ffffff !important;
      font-weight: 700;
    }
  }

  .shift-label {
    font-size: 16px !important;
  }
  .shift-time {
    color: #828282;
    font-size: 16px !important;
  }

  .assign-box {
    font-size: 15px;
    background-color: #fff;
    border: 2px dashed #c1c1c1;
    border-radius: 8px;
    width: 31%;
    height: fit-content;
    color: #656565;
    &.pre-shift-data {
      padding: 0 !important;
      border: none !important;
      &.assign-arrow {
        &::before {
          left: -5px;
        }
      }
    }
  }

  .pre-shift-lft,
  .assign-arrow {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 49%;
      right: 6px;
      border: solid #828282;
      border-width: 0 2px 2px 0;
      padding: 2px;
      transform: rotate(130deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 99%;
      transform: translate(-50%, -50%);
      width: 31px;
      height: 1px;
      background-color: #828282;
      border-radius: 50%;
      z-index: -1;
    }
  }

  .assign-arrow {
    &::before {
      top: 49.5%;
      left: -6px;
      right: unset;
      transform: rotate(-45deg) translateY(-49%);
    }

    &::after {
      top: 50%;
      left: -8px;
    }
  }

  .shift-line {
    row-gap: 40px !important;

    &::before {
      content: "";
      position: absolute;
      top: 29px;
      left: 1px;
      border-left: 1px solid #828282;
      width: 4px;
      height: calc(100% - 57px);
    }
  }

  .shift-1 {
    &::before {
      top: 67px;
      height: calc(100% - 95px);
    }
  }

  .shift-2 {
    &::before {
      top: 67px;
      height: calc(100% - 134px);
    }
  }

  .shift-3 {
    &::before {
      top: 29px;
      height: calc(100% - 95px);
    }
  }
}

.shift-3 {
  &::before {
    top: 29px;
    height: calc(100% - 95px);
  }
}

.schedule-filter {
  margin: 0 0 31px;
  .ant-select-show-search,
  .ant-picker {
    height: 48px;
    border-color: #828282;
    color: #828282;
    font-size: 16px;
    background: transparent;
    .ant-select-selector {
      border-color: #828282;
      color: #828282;
      font-size: 16px;
      background-color: transparent !important;
      .ant-select-selection-placeholder {
        color: #828282;
      }
    }
    .ant-picker-input {
      input {
        font-size: 16px;
        &::placeholder {
          color: #828282;
        }
      }
      .ant-picker-suffix {
        color: #828282;
      }
    }
  }
  button {
    font-size: 16px;
    height: 48px;
    color: #fff;
    background-color: var(--bg-color);
    &:hover {
      color: #fff !important;
      background-color: var(--bg-color) !important;
    }
  }

  .customSegmentLabel {
    height: 48px !important;
  }

  .customSegmentLabel .ant-segmented-item-label {
    padding: 8px;
  }
}

.data-section {
  width: calc(100% - 324px);
  flex: 1 0;
}
.sidebar-section {
  width: 356px;
}

.side-scroll {
  height: calc(100vh - 134px);
  overflow: auto;
  margin: -24px -24px 0 0 !important;
}

.modal-lists {
  .ant-modal-content,
  .ant-modal-header {
    .ant-modal-body {
      min-height: 75px;
      padding: 15px 0;
    }
  }
}

.pre-shift-main {
  .data-section {
    .data-assign-area {
      height: calc(100vh - 250px);
      overflow: hidden auto;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: #535e77;
    border-radius: 50px;
  }
}

[data-layout-mode="dark"] {
  .pre-shift {
    .card-body {
      color: #9ca3b1;
    }

    .card-body__header {
      h6 {
        color: #9ca3b1;
      }
    }

    .shift-value {
      color: #6f788d;
      background: #24314d;
      &.fill {
        background: #535e77;
        color: #ffffff !important;
        font-weight: 700;
      }
    }

    .shift-time {
      color: #fff;
    }

    .assign-box {
      color: #fff;
      background-color: #24314d;
      border: 2px dashed #eaebee;
    }

    .pre-shift-lft,
    .assign-arrow {
      &::before {
        border: solid #fff;
        border-width: 0 2px 2px 0;
      }

      &::after {
        background-color: #fff;
      }
    }

    .shift-line {
      &::before {
        border-left: 1px solid #fff;
      }
    }
  }
  .schedule-filter {
    .ant-select-show-search,
    .ant-picker {
      border-color: #bcc1ca;
      color: #bcc1ca;
      .ant-select-selector {
        border-color: #bcc1ca;
        color: #bcc1ca;
        .ant-select-selection-placeholder {
          color: #bcc1ca;
        }
      }
      .ant-picker-input {
        input {
          &::placeholder {
            color: #bcc1ca;
          }
        }
        .ant-picker-suffix {
          color: #bcc1ca;
        }
      }
    }
    button {
      color: var(--bg-color);
      background-color: #fff;
      equip-lists .task-chips &:hover {
        color: var(--bg-color) !important;
        background-color: #fff !important;
      }
    }
  }
  .modal-lists {
    .ant-modal-content,
    .ant-modal-header {
      color: #fff;
      background-color: #24314d;
      .ant-modal-title,
      .ant-modal-close-x {
        color: #fff;
      }
      .ant-btn {
        font-weight: 700;
        &.ant-btn-default {
          color: var(--bg-color);
        }
        &.ant-btn-primary {
          color: #fff;
          background-color: #434f6b;
        }
      }
    }
  }
  .pre-shift-main {
    ::-webkit-scrollbar-track {
      background-color: #535e77;
    }
    ::-webkit-scrollbar-thumb {
      background: #ffffff;
    }
  }
}
.modal-lists {
  .ant-modal-content,
  .ant-modal-header {
    color: #fff;
    background-color: #24314d;
    .ant-modal-title,
    .ant-modal-close-x {
      color: #fff;
    }
    .ant-btn {
      font-weight: 700;
      &.ant-btn-default {
        color: var(--bg-color);
      }
      &.ant-btn-primary {
        color: #fff;
        background-color: #434f6b;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .fleet-card {
    flex: 1 1 calc(48% - 10px);
    max-width: calc(48% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .fleet-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

// body {
//   .page-content {
//     padding: calc(#{$header-height}) 0 $footer-height calc(#{$grid-gutter-width} * 0.75);
//   }

//   .navbar-header {
//     border-bottom: 1px solid #535E77;
//   }
// }

.preshift-list {
  .truck {
    max-width: 80px;
  }

  .truck .truck-label {
    font-size: 20px;
    color: #389e0d;
  }

  .truck .truck-operator-label {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: clip;
  }

  .truck .truck-operator-label i {
    margin-right: 4px;
  }
}

.pre-shift-main .truck-cancel-button {
  color: #cf1322;
  font-size: 20px;
  opacity: 90%;
}
