.wasted-dump-content .my-bounding-box-group .mapboxgl-ctrl-zoom-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wasted-dump-content .my-bounding-box-group .mapboxgl-ctrl-zoom-in i {
  font-size: 16px;
}

.wasted-dump-content .my-custom-ctrl-group {
  top: 158px !important;
}

.wasted-dump-content .map-drawing .my-custom-ctrl-group {
  top: 230px !important;
}

.wasted-dump-content .my-bounding-box-group {
  top: 158px !important;
}

.wasted-dump-content .map-drawing .my-bounding-box-group {
  top: 270px !important;
}
