body[data-layout-mode="light"] {

    .vis-time-axis .vis-text {
        color: var(--dark-text-color);
    }

    .vis-labelset .vis-label {
        color: var(--dark-text-color);
        font-size: 18px;
    }
}


body[data-layout-mode="dark"] {

    .vis-time-axis .vis-text {
        color: white;
    }

    .vis-labelset .vis-label {
        color: white;
        font-size: 18px;
    }

    .ant-slider .ant-slider-mark-text {
        color: white !important;
    }
    .ant-slider-rail {
        background-color: gray;
    }
    .ant-tooltip-arrow {
        color: white;
    }

    .ant-tooltip .ant-tooltip-inner {
        background-color: white;
        color: var(--dark-text-color);
        --antd-arrow-background-color: white !important;
    }
}