.ant-steps-item-active .ant-steps-icon-dot {
  background-color: #fff !important;
}

.ant-steps-item .ant-steps-item-tail {
  top: 5px !important;
  border-radius: 12px !important;
  opacity: 0.8 !important;
  background: rgba(187, 190, 196, 0.73) !important;
}

.ant-steps-item-finish .ant-steps-item-tail::after {
  background: rgba(187, 190, 196, 0.73) !important;
}

.ant-steps-item .ant-steps-icon-dot {
  opacity: 0.98;
  width: 16px !important;
  height: 16px !important;
  border-radius: 100% !important;
}

.ant-steps-item-finish .ant-steps-icon-dot {
  background: gray !important;
}

/* .ant-steps-item-content .ant-steps-item-title {
  color: #fff !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
} */

/* body[data-layout-mode="light"] {
  .ant-steps-item-active .ant-steps-icon-dot {
    background-color: var(--dark-bg-color) !important;
  }

  /* .ant-steps-item-content .ant-steps-item-title {
    color: gray !important;
  } */

  /* .ant-steps-item-active .ant-steps-item-title {
    color: var(--dark-text-color) !important;
  } */
/* }  */

.fleet-state-pie-chart .LegendContainer2 {
  flex-wrap: nowrap !important;
}

.fleet-state-pie-chart .LegendContainer2 .LegendItem2 {
  width: 80px;
}

body[data-layout-mode="light"] .LegendText {
  color: var(--dark-text-color) !important;
}
