body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes ripple {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.ant-radio-button .ant-radio-button-disabled {
  background-color: blue !important;
}

.map-container {
  .mapboxgl-ctrl-logo {
    display: none;
  }
}
