.reports-summary-container {
    margin-top: 1rem;
}

.reports-summary-card {
    height: 65px !important;
    background: transparent;
    text-align: center;
    font-size: 16px;
    border-radius: 0px !important;
    display: flex;
    align-items: flex-start;
    padding-left: 0.5rem;
    margin-bottom: 0px !important;
}
body[data-layout-mode="dark"] .reports-summary-card {
    border-left: 1px solid white;
}
body[data-layout-mode="light"] .reports-summary-card {
    border-left: 1px solid #495057;
}
body[data-layout-mode="dark"] .reports-summary-value {
    color: white;
}
body[data-layout-mode="light"] .reports-summary-value {
    color: #495057;
}
.reports-summary-label {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
}

.reports-summary-time {
    font-size: 24px;
    margin-bottom: 4px;
}

.reports-summary-value {
    font-size: 25px;
    font-weight: bold;
}

.reports-summary-label{
    font-size: 16px;
}