.truck-load-profile {
  &.card-optimisation {
    z-index: 10;
    background: #fff;
    width: 100%; 
    max-width: 258px;
    border-radius: 8px;
    .fuel-card-header {
      font-family: 'Poppins';
      display: flex;
      justify-content: space-between;
      align-items: center; 
      padding: 0 20px;
      margin-top: 18px;
      padding-right: 0;
      .vehicle-name {
        display: block;
        font-size: 24px;
        font-weight: 500;
        unicode-bidi: isolate;
        margin-left: 0;
        padding: 8px 0 10px;
      }
      .fuel-card-status {
        align-self: flex-start; 
        padding: 2px 15px;
        margin-right: 0;
        color: #ffffff;
        border-radius: 20px 0 0 20px;
        font-weight: bold;
        font-size: 12px;
      }
    }
    .fuel-card-sync {
      margin: 0;
      padding: 0;
      font-size: 12px;
      display: flex;
      align-items: center;
      .fuel-card-sync-icon {
        display: flex;
        align-items: center;
      }
      .fuel-card-sync-tooltip {
        position: absolute;
        top: -10px;
        right: 80%;
        background-color: #333;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
        white-space: nowrap;
      }
    }
    .fuel-card-details {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px; 
      p {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin: 0;  
      }
      .fuel-card-props{
        .fuel-label {
          font-size: 14px;
          font-weight: normal; 
          color: #9CA3B1;
        }
        .fuel-value {
          font-size: 16px;
          font-weight: bold; 
          color: #535E77;
        }
      }
      .progress {
        background-color: #FFFFFF;
        .progress-bar {
          background-color: #389E0D;
          border-radius: 20px;
        }
      }
    }
  }
}

body[data-layout-mode="dark"]  {
  .truck-load-profile {
    &.card-optimisation {
      background-color: #283655;
      .fuel-card-header {
        .vehicle-name {
          color: #fff;
        }
        .fuel-card-status {
          color: #fff;
        }
      }
      .fuel-card-details {
        
        .fuel-card-props{
          .fuel-value {
            color: #FFFFFF;
          }
        }
      }
    }
  }
 }

 .chart-container {
  .recharts-tooltip-wrapper {
    z-index: 9;
  }
  // .recharts-cartesian-grid-vertical {
  //   line:first-child {
  //     opacity: 0;
  //   }
  // }
}